@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

header{
    min-height: 10vh;
    background-color: #D9D7F1;
}

main{
    min-height: 85vh;
    background-color: #FFFDDE;
}


.aelogo{
    width: 200px;
    height: 60px;
    margin: 10% 40%;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button,.buttonsub{
    color: black;
    background-color: #00E7FF;
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.button:hover{
    background-color: rgb(95, 193, 193);
    font-style: italic;
    border-radius: 15px;
}


.imageh,.bodyh{
    min-height: 450px;
}

.colbackcol{
    background-color: #FFFDDE;
}

.imageh{
    margin-left: 1%;
}

.cbcenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.c-t{
    font-size: 2rem;
    font-weight: bold;
}

p{
    font-size: 1.3rem;
}

.hm,.colcenter{
    display: flex;
    justify-content: center;
}

.pgrow{
    color: black;
    font-size: 3rem;
    cursor: default;
    text-decoration: none;
}

.besidel{
    flex: 1;
}

.besider{
    text-align: end;
    flex: 1;
}

.h1center,.coljusty{
    display: flex;
    align-items: center;
}

#sicon{
    width: 100%;
}

#input-w{
    width: 65%;
    padding-left: 1.5%;
    padding-right: 1px;
}

.line{
    display: inline-block;
}

.coljusty{
    justify-content: space-around;
}

.colend{
    justify-content: center;
}

.home{
    background-color: #E7FBBE;
}

.pinline{
    display: inline;
    margin-right: 10px;
}

.cardmarg{
    margin-left: 10px;
}

.card-title{
    font-weight: bolder;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.imgcard{
    width: 95%;
    height: 85%;
    margin-left: 7px;
}

.cardsection{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.formw{
    width: 50%;
    margin: 0 auto;
}

.submitend{
    display: flex;
    justify-content: end;
}

.buttonsub{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputmess{
    height: 150px;
}

footer .container, .center-1{
    background-color: #FFCBCB;
    display: flex;
    align-items: center;
    /* min-height: 10vh; */

}

.text-center{
    background-color: #FFCBCB;
}

.center-1{
    height: 100%;
}

div a img,.colcenter{
    width: 35%;
    height: 75%;
}

.colcenter{
    height: 56px;
}

table{
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
}

table,thead, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

td,th{
    padding: 10px;
}

table{
    background-color: #A084DC;
    gap: 10px;
}

.thtitle{
    border: none;
    font-size: 1.5rem;
    
}

tbody{
    background-color: whitesmoke;
}

th, td {
    width: 33.33%;
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}

/*2560px*/
@media only screen and (min-width: 2560px){
    .colcenter{
        align-items: flex-end;
    }
}

