@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

header{
    min-height: 15vh;
    background-color: #D9D7F1;
}

main{
    min-height: 80vh;
    background-color: #FFFDDE;
}

.aelogo{
    width: 200px;
    height: 60px;
    margin: 10% 40%;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    color: black;
    background-color: #00E7FF;
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.button:hover{
    background-color: rgb(95, 193, 193);
    font-style: italic;
    border-radius: 15px;
}


.imageh,.bodyh{
    min-height: 450px;
}

.colbackcol{
    background-color: #FFFDDE;
}

.imageh{
    margin-left: 1%;
}

.cbcenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.c-t{
    font-size: 2rem;
    font-weight: bold;
}

p{
    font-size: 1.3rem;
}

.hm{
    display: flex;
    justify-content: center;
}

.pgrow{
    color: black;
    font-size: 3rem;
    cursor: default;
    text-decoration: none;
}

.besidel{
    flex: 1;
}

.besider{
    text-align: end;
    flex: 1;
}

.h1center,.coljusty{
    display: flex;
    align-items: center;
}

#sicon{
    width: 100%;
}

#input-w{
    width: 65%;
    padding-left: 1.5%;
}

.line{
    display: inline-block;
}

.coljusty{
    justify-content: space-around;
}

.colend{
    justify-content: center;
}

.home{
    background-color: #E7FBBE;
}




footer .container, .center-1{
    background-color: #FFCBCB;
    display: flex;
    align-items: center;
    height: 50px;

}

.text-center{
    background-color: #FFCBCB;
}

.center-1{
    justify-content: space-around;
}

div a img{
    width: 35%;
    height: 75%;
}